NETSHIELD_EMAIL_ENABLED=false
NETSHIELD_SMTP_SERVER=smtp.gmail.com
NETSHIELD_SMTP_PORT=587
NETSHIELD_EMAIL_SENDER=your_email@gmail.com
NETSHIELD_EMAIL_PASSWORD=your_app_password_here
NETSHIELD_EMAIL_RECEIVER=receiver_email@gmail.com
